@import "./__variables";

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
      @content;
    }
  }
  @mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
      @content;
    }
  }

  @font-face {
    font-family: "titillium regular";
    src: local("TitilliumWeb"),
         url("../../assets/fonts/TitilliumWeb-Regular.ttf");
}

@font-face {
    font-family: "titillium semi-bold";
    src: local("TitilliumWeb"),
         url("../../assets/fonts/TitilliumWeb-SemiBold.ttf");
}

@mixin page-header {
    font-family: titillium regular;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 2.25rem;
    @include tablet {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

@mixin subheader {
    font-family: titillium regular;
    font-size: 1.25rem;
    line-height: 1.75rem;
    @include tablet {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

@mixin label {
    font-family: titillium regular;
    font-weight: 600;
    font-size: 0.8125rem;
    line-height: 1.25rem;
    @include tablet {
        font-size: 0.875rem;
        line-height: 1.375rem;
    }
}

@mixin table-header {
    font-family: titillium regular;
    font-weight: 600;
    color: $secondary-table-head;
    font-size: 0.6785rem;
    line-height: 1rem;
    @include tablet {
        font-size: 0.75rem;
        line-height: 1.125rem;
    }
}

@mixin body-lrg {
    font-family: titillium regular;
    font-size: 0.9375rem;
    line-height: 1.625rem;
    @include tablet {
        font-size: 1rem;
        line-height: 1.75rem;
    }
}

@mixin body-med {
    font-family: titillium regular;
    font-size: 0.8125rem;
    line-height: 1.25rem;
    @include tablet {
        font-size: 0.875rem;
        line-height: 1.375rem;
    }
}

@mixin body-sml {
    font-family: titillium regular;
    font-size: .6875rem;
    line-height: 1rem;
    @include tablet {
        font-size: 0.75rem;
        line-height: 1.125rem;
    }
}

@mixin content-container {
    font-family: "titillium regular";
    background-color: $primary-global;
    max-width: 90vw;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.1);
    margin: -8rem auto;
    border-radius: .25rem;
}