// Variables
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Telus Colours

$white: #ffffff;
$purple: #462b6a;
$light-green: #81c83d;
$dark-green: #457e22;
$light-grey: #d8d8d8;
$medium-grey: #55595f;
$dark-grey: #2b2c2e;


// Primary colors
$primary-text: #13182c;
$primary-bg: #2e66e5;

$footer-text: #fff;
$footer-bg: #232940;

$header-text: #fff;
$header-bg: #2e66e5;


