@import '../../../styles/partials/variables';

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: $dark-grey;

    &__content {
        position: relative; /* Ensure positioning for close button */
        background: $light-grey;
        padding: 1.25rem;
        border-radius: .5rem;
        width: 80%;
        max-width: 31.25rem;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    &__details{

        h2{
            font-size:2rem;
            line-height: 1;
        }
    }
    
    &__close {
        position: absolute;
        top: .625rem;
        right: .9375rem;
        cursor: pointer;
        font-size: 1.5rem;
        color: #333;
        transition: color 0.3s;
        
        &:hover {
            color: #e74c3c; /* Change color on hover */
        }
    }

    .modal__bundle {
        margin: 1rem 0; /* Add some margin around the image */
    }

    img {
        max-width: 30rem;
        max-height: 20rem;
        border-radius: 2rem;
    }
}
