@import "../../../styles/partials/_mixins.scss";
@import "../../../styles/partials/_variables.scss";


.footer {

  background-color: $dark-green;
    padding: .5rem;
    text-align: center;
    color: $footer-text;
    margin-top: 40vh;
    width: 100%;
  
  .footer__text {
    font-size: 14px;
  }
}