@import "../../../styles/partials/_mixins.scss";
@import "../../../styles/partials/_variables.scss";


.footer {
    background-color: $footer-bg;
    padding: 20px;
    text-align: center;
    color: $footer-text;
  
  .footer__text {
    font-size: 14px;
    margin: 0;
  }
}