@import "/styles/partials/_variables.scss";
@import "/styles/partials/_mixins.scss";

:root{
    background-color: $light-grey;
    background-size: cover; 
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: "helvetica", sans-serif;
}

.full-page {
    @include flex-column(0);
    min-height: 100vh;
    &__content{
        flex: 1;
        @include flex-column(0);
        height: 88vh;
    }
    &__footer{
        @include flex-column(0);
    }
}
